body {
    background-color: black;

    height: 100vh;

    margin: 0;
}

div {
    padding: 10px;
}

#gridContainer {
    display: grid;

    height: 100%;

    grid-template-rows: 1fr 2fr 2fr;
    grid-template-columns: 2fr 2fr 2fr;

    grid-gap: 20px;
}

#gridItem1 {
    background-color: #fda061;

    grid-column: 1/4;
}

#gridItem2 {
    background-color: #01a787;

    grid-row: 2/4;
}

#gridItem3 {
    background-color: #34daba;

    grid-column: 2/4;
    grid-row: 2/3;
}

#gridItem4 {
    background-color: #fc6057;
}

#gridItem5 {
    background-color: #fda061;
}

